<!-- Pagina de Eventos -->
<link rel="stylesheet" href="/css/inicial.css">
<section class="header-site" style="padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="thumbnail text-center">
                    <h1 class="text-center" style="font-size: 40px">NEI - EVENTOS</h1>
                    <hr>
                    <p class="lead text-center" style="font-size: 20px">Núcleo de Educação Inclusiva</p>
                    <p class="text-center">
                        <a href="/" class="btn btn-info ml-1">INICIO</a>
                        <a href="/" class="btn btn-info ml-1">PESQUISA</a>
                        <a href="/editais" class="btn btn-info ml-1">EDITAIS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-site" style="padding: 50px;">
    <div class="container-fluid">
        <div class="row">
            {{#each categorias}}
            <div class="col-4 card mb-4 pt-2">
                <div class="thumbnail text-center">
                    <img class="imagem" src="img/{{file_name}}" style="margin-top: 15px; width:100%;">
                    <div class="caption text-center 0px;">
                        <p class="text-center">
                            <a href="/categorias/{{slug}}">
                                <h3>{{nome}}</h3>
                            </a>
                        </p>
                        <p align="justify">{{texto}}</p>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-12 card">
                <div class="thumbnail text-center">
                    <div class="caption text-center">
                        <p class="text-center">
                            <h3>NÃO HÁ EVENTOS CADASTRADOS</h3>
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>