<!-- Página de Informações sobre o curso -->
<link rel="stylesheet" href="/css/inicial.css">
<section class="header-site" style="padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="thumbnail text-center">
                    <h1 class="text-center" style="font-size: 50px">{{categoria.nome}}</h1>
                    <hr>
                    <p class="lead text-center" style="font-size: 30px">Núcleo de Educação Inclusiva</p>
                    <p class="text-center">
                        <a href="/categorias" class="btn btn-danger ml-1">VOLTAR</a>
                        <a href="/" class="btn btn-info ml-1">INICIO</a>
                        <a href="/" class="btn btn-info ml-1">PESQUISA</a>
                        <a href="/" class="btn btn-info ml-1">EDITAIS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row" style="padding-top: 30px; background-color: #505763">

            <div class="col-7" style="padding-bottom: 20px; margin-left: 70px; margin-bottom: 20px;">
                <div class="thumbnail">
                    <h1 style="font-size: 40px; color: white;">{{categoria.nome}}</h1>
                    <p class="lead m-0" style="font-size: 30px; color: white;">{{categoria.slogam}}</p>
                    <p class="lead m-0" style="font-size: 20px; color: white;">
                        <samp class="mr-4">{{categoria.autor}}</samp>
                        <samp>{{categoria.dia}}</samp>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 card m-4" style="padding-top: 20px; padding-bottom: 5px; background-color: white;">
                <div class="thumbnail">
                    <img style="width: 100%;" src="/img/{{categoria.file_name}}" alt="">
                    <h2 class="mt-4" style="font-size: 35px; color: black;">{{categoria.nome}}</h2>
                    <h3 class="lead m-0" style="font-size: 20px; color: black;">Faça sua incrição!</h3>
                    <form action="/" method="POST">
                        <input type="email" class="form-control mt-3" name="email" placeholder="Nome" required>
                        <input type="password" class="form-control mt-3" name="senha" placeholder="E-mail" required>
                        <button class="btn btn-success mt-3" type="submit" style="width: 100%;">Entrar</button>
                    </form>
                    </p>
                </div>
            </div>
            <div class="col-7 card m-4" style="padding-bottom: 20px; margin-bottom: 20px;">
                <div class="thumbnail">
                    <p style="font-size: 30px; color: black;">O que você aprenderá</p>
                    <div class="row p-1" style="height: 235px;">
                        <div class="col-12 p-o m-0">
                            <p>{{categoria.texto}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>





<!--
<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>essa é a descrição: {{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
        <hr>
        <small>{{categoria.nome}}</small>
        <small>Data de públicação: {{data}}</small>
    </div>
</div>
{{else}}
<h3>Nenhuma postagem registrada</h3>
{{/each}} -->